#home {
	background: #ffc107;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

df-messenger {
	--df-messenger-bot-message: #e0dd09;
	--df-messenger-button-titlebar-color: #56b4df;
	--df-messenger-chat-background-color: #fafafa;
	--df-messenger-font-color: white;
	--df-messenger-send-icon: #878fac;
	--df-messenger-user-message: #5af1fc;
}